<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spo_care">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BrainLesionsActivity"></activity>
        <activity android:name=".DisablePeopleDentistry"></activity>
        <activity android:name=".FindIdActivity"></activity>
        <activity android:name=".FindPasswordActivity"></activity>
        <activity android:name=".HearingImpairmentActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".MouthTraining"></activity>
        <activity android:name=".MyPageActivity"></activity>
        <activity android:name=".SelfTestActivity"></activity>
        <activity android:name=".SelfTestCavityActivity"></activity>
        <activity android:name=".SelfTestPeriodontalDiseaseActivity"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".TeethBrushTimerActivity"></activity>
        <activity android:name=".TeethCareItemActivity"></activity>
        <activity android:name=".VisualImpairmentActivity"></activity>
    </application>
</manifest>